{% extends "public/base.html" %}

{% block content %}

    <h2>{{ page_heading }}</h2>
    <h4>Paste the test steps here</h4>

    <form action="{% url 'server:submit' %}" method="post">
        <table id="steps_table">
            <tr>
                <th>
                    <label for="id_steps"></label>
                </th>
            </tr>
            <tr>
                <td>
                    <textarea class="steps" name="steps" cols="140" rows="40" required id="id_steps"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="submit-button" type="submit" value="Submit test steps" />
                </td>
            </tr>
        </table>
    </form>

    <div class="row">
        <div class="column">
    <h4>Headless (http) example</h4>

    <textarea readonly class="steps" cols="68" rows="14">
<testcases repeat="1">

<case
    varTOTALJOBS_URL="https://www.totaljobs.com"
    id="10"
    description1="Get Totaljobs Home Page"
    method="get"
    url="{TOTALJOBS_URL}"
    verifypositive1="Search for and be recommended"
    verifypositive2="See all hiring companies"
/>

</testcases>
    </textarea>
    </div>

    <div class="column">
    <h4>Selenium example</h4>

    <textarea readonly class="steps" cols="68" rows="15">
<testcases repeat="1">

<case
    section="Selenium Smoke Test"
    id="10"
    description1="Get Totaljobs Home Page"
    method="selenium"
    command='$selresp = $driver->get("http://www.totaljobs.com");'
    command1='$selresp = $driver->get_all_cookies();'
    verifytext="get_page_source,get_current_url"
    verifypositive="Location"
/>

</testcases>
    </textarea>
    </div></div>


{% endblock %}