{% extends "public/base.html" %}

{% block content %}

    <h2>{{ page_heading }}</h2>
    <h4>Paste the test steps here</h4>

    <form action="{% url 'server:submit' %}" method="post">
        <table id="steps_table">
            <tr>
                <th>
                    <label for="id_steps"></label>
                </th>
            </tr>
            <tr>
                <td>
                    <textarea class="steps" name="steps" cols="140" rows="40" required id="id_steps"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="submit-button" type="submit" value="Submit test steps" />
                </td>
            </tr>
        </table>
    </form>


{% endblock %}